<div style="height: 10vh;">

</div>
<div class="col-12">
    <img class="d-block mx-auto" style="height:50vh" src=".\assets\logobig.png">
</div>
<div class="col-12 row">
    <p class="mx-auto d-block col-7" style="font-size: xx-large;text-align: center;color: #198754;"><b>Naročilo je bilo uspešno</b></p>
    <p p class="mx-auto d-block col-7" style="font-size: x-large;text-align: center;">Pričakovan čas dostave: {{rand}} minut</p>
    <button style="margin-top: 1vh;" class="btn btn-success mx-auto d-block col-7"
    routerLink="/narocilo" data-toggle="tooltip"
    data-placement="bottom" title="(CTRL+N) Naprej na stran s podatki o naročilu">Novo naročilo</button>
</div>
